@import 'variable', 'typography', 'button', 'page-list', 'page-detail';


// MAIN //

body {
  margin: auto;
  max-width: 100%;
  font-family: 'Montserrat-medium';
  background: $dark;
  color: $white;
}

nav ul {
  margin: 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  & li {
    padding-bottom: 20px;
    font-family: 'Montserrat-bold';
    color: $red;
    font-size: 3em;
    & a {
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }
}

#pageContent, footer {
  margin: 40px;
}

footer {
  padding: 40px 0;
  & div.red-separation {
    width: 120px;
    border-top: 8px solid $red;
  }
}




// FLEX //

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-between {
  justify-content: space-between;
  align-items: baseline;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}




// COL //

.col-50 {
  width: 50%;
}

.col-25 {
  min-width: 25%;
}

.col-30 {
  min-width: 32%;
}




// INPUT //

.input-icons {
  position: relative;
  &:hover .icon-search {
    filter: invert(21%) sepia(68%) saturate(9900%) hue-rotate(337deg) brightness(79%) contrast(113%);
  }
}

.icon-search {
  position: absolute;
  top: 31px;
  left: 15px;
  
}

.input-field {
  padding-left: 50px;
  width: 250px;
  height: 40px;
  background-color: $dark;
  border: 2px solid $white;
  border-radius: 50px;
  color: $white;
  &:focus, &:active, &:hover {
    outline: none;
    border-color: $red;
  }
}




// SPACE //
.space-40 {
  padding: 40px 0;
}

.space-20 {
  padding: 20px 0;
}